* {
    margin: 0;
    box-sizing: border-box;
}

.App {
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    padding: 10px
}

body {
    color: #525252;
    background-color: #f8f8f8;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, rgb(45 193 212 / 29%) 100%);
}

button {
    border: none;
    padding: 10px;
    color: white;
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 24%) 0px 0px 5px 0px;
    background-color: #5dc2d4;
    font-weight: bold;
    cursor: pointer;
    transition: background-color ease 0.3s;
}

button:hover {
    background-color: #66a4ac;
}

textarea, input {
    border: 1px solid #b8b8b8;
    padding: 5px;
    font-family: sans-serif;
    color: #525252;
    border-radius: 3px;
}

textarea:focus-visible, input:focus-visible {
    outline: none;
    border: 2px solid #90c9d1;
}

.gif-icon {
    width: 50px;
    height: 100px;
    color: #a0a0a0;
    transition: all ease 0.3s;
    display: flex;
}

.gif-icon:hover {
    padding-bottom: 20px;
    cursor: pointer;
}

.form > div {
    padding: 10px 0;
}

.centered-box {
    top: 0;
    bottom: 15%;
    margin: auto;
    width: 30%;
    position: absolute;
    left: 0;
    right: 0;
    height: 40%;
    background-color: #ffffff59;
    box-shadow: 0 0 17px 2px #00000024;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
            355deg, #1ecbeb40, transparent);
    border-radius: 3px;
}

.centered-box > div {
    margin: 20px 0;
}